*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    height: 100vh;
    width: 100vw;   
    /* background-color: #f50606; */
}
.container{
    height: 100vh;
    /* margin-left:10px; */
}
.vertical{
    height: 100%;
    width: 30%;
    /* margin-left: 10px; */
    float: left;
    background-color:#09009f;

}
.profile img{
    height: 200px;
    margin-left: 100px; 
    border-radius: 100%;
    background-color: black;
    /* border-color: aliceblue; */
    /* border: 2px solid #fff; */
    object-fit: fill;
}
.content h3{
    margin-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    color: white;
}
.content ul{
    display:contents;
    justify-content: center;
    color: aliceblue;
    /* list-style-type: none; */
}
.content ul li{
    display: list-item;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
    padding: 5px;
}
.horizontal{
    border: none;
    border-top: 1px dotted #f50606;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width:80%;  
    margin-left: 70px;
}
.container2{
    height: 100vh;
    background-color:#fff;
    /* margin-left: 450px;/ */
    float: right;
    width: 70%;
    margin-top: 0px;
}
.name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:9%;
    margin-left:10%;
    font-size: 60px;
    background: -webkit-linear-gradient(45deg,#09009f,#00ff95 60%);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.container2 h2{
    margin-left: 10%;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 5px;
    font-weight: bold;
}